# Node.js dependencies
/node_modules
/controllers/code

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Environment variables
.env

# macOS
.DS_Store

# Windows
Thumbs.db
